html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  height: 100%;
}

.floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
  width: 250px;
}

.main_form {
  display: inline;
}

.spinner {
  display: none;
  height: 30px;
  width: 30px;
  padding: 0 27px;
}

.spinner img {
  height: 30px;
  vertical-align: middle;
 }